.App {
  text-align: left;                 /*텍스트 왼쪽 정렬*/
}

.navbar {
  text-align: center;               /*내비게이션바 텍스트 왼쪽 정렬*/
  color: white;                   /*내비게이션바 텍스트 색: 흰색*/
  background-color: black;        /*내비게이션바 배경색: 검정색*/
  height: 60px;                     /*내비게이션바 두께 설정*/
  font-size: 20px;                  /*내비게이션바 텍스트 크기 설정*/
  line-height: 60px;                /*내비게이션바 텍스트 세로 중앙 정렬*/
  font-family: 'Ramche';
}

body {
  background: rgb(100,100,101);   /*그라데이션 배경 삽입*/
  background: linear-gradient(90deg, rgba(100,100,101,1) 0%, rgba(134,122,122,1) 15%, rgba(144,134,134,1) 35%, rgba(126,140,145,1) 58%, rgba(95,133,140,1) 85%, rgba(83,98,101,1) 100%);
}

@font-face {
  font-family: 'Ramche';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Ramche.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}